<nav class="navbar navbar-admin navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" >
            <a class="navbar-brand">
                CNMI MDS Admin
            </a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Return to Site</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="admin-sidebar">
    <div class="panel-group"
         id="admin-accordion"
         role="tablist"
         aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="manage-news">
                <h1 class="panel-title">
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#admin-accordion"
                       href="#news-actions"
                       aria-expanded="false"
                       aria-controls="news-actions">
                        Manage Pages
                    </a>
                </h1>
            </div>
            <div id="news-actions"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="manage-news">
                <div class="panel-body">
                    <p id="edit-pages-link">Edit Pages</p>
                    <p id="add-pages-link">Add Pages</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="manage-students">
                <h1 class="panel-title">
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#admin-accordion"
                       href="#student-actions"
                       aria-expanded="false"
                       aria-controls="student-actions">
                        Manage Students
                    </a>
                </h1>
            </div>
            <div id="student-actions"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="manage-students">
                <div class="panel-body">
                    <p id="edit-students-link">Edit Students</p>
                    <p id="add-students-link">Add Students</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="manage-media">
                <h1 class="panel-title">
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#admin-accordion"
                       href="#media-actions"
                       aria-expanded="false"
                       aria-controls="media-actions">
                        Manage Media
                    </a>
                </h1>
            </div>
            <div id="media-actions"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="manage-media">
                <div class="panel-body">
                    <p id="add-photos-link">Add Photos</p>
                    <p id="del-photos-link">Delete Photos</p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="manage-media">
                <h1 class="panel-title">
                    <a class="collapsed"
                       role="button"
                       data-toggle="collapse"
                       data-parent="#admin-accordion"
                       href="#backup-actions"
                       aria-expanded="false"
                       aria-controls="backup-actions">
                        Manage Backups
                    </a>
                </h1>
            </div>
            <div id="backup-actions"
                 class="panel-collapse collapse"
                 role="tabpanel"
                 aria-labelledby="manage-backups">
                <div class="panel-body">
                    <p id="create-backup-link">Create Backup</p>
                    <p id="restore-backup-link">Restore from Backup</p>
                </div>
            </div>
        </div>
    
    </div>
</div>
