<!DOCTYPE html>
<html>

  <head class="no-skrollr">
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{title}}</title>
      {% style "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"   %}
      {% style "css/slick.css" %}
      {% style "css/slick-theme.css" %}
      {% style "css/main.css"  %}
  </head>

  <body>
      {% include nav.html with page-type="2"%}

      <div class="jumbotron stories-jumbo">
          <div class="container">
              <div class="row"
                   style="margin-top: 25px;">
                  <div class="col-xs-12 col-sm-8 col-sm-push-2">
                      <div id="student-carousel" class="">
                          {{student-imgs|safe}}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="story-box container-fluid">
          {{student-stories|safe}}
      </div>
      
      <!-- scripts and styles -->
      {% script "js/app.js" %}
      {% script "js/slick.js"  %}
      {% script "js/skrollr.min.js" %}
      <script type="text/javascript">
       var context = "{{servlet-context}}";
       var csrfToken = "{{csrf-token}}";
       $("#student-carousel").slick({
           infinite: true,
           slidesToShow: 5,
           slidesToScroll: 1,
       });
       var s = skrollr.init({});
      </script>
  </body>

</html>




