<div class="student-story" id={{id}}>
    <div class="row story-img"
         data-0="top: 100px;"
         data-150="top: 0px;">
        <img class="student-story-photo" src={{img-1}} />
    </div>
    <div class="row story-img"
         data-0="top: 200px"
         data-150="top: 100px"
         data-300="top: 0px;">
        <img class="student-story-photo" src={{img-2}} />
    </div>
    <div class="row story-img"
         data-0="top: 300px"
         data-300="top: 100px"
         data-450="top: 0px;"
         style="top: 300px;">
        <img class="student-story-photo" src={{img-3}} />
    </div>
    <div style="height: 2000px"></div>
</div>
