nav {
    @include custom-transition(background-color 0.5s, ease-in-out, 0s);
    &:hover {
        background-color: $header-hover-bg;
    }
}


.nav a, a.navbar-brand {
    color: $nav-link-text;
    cursor: pointer;
    &:hover, &:focus, &:active {
        color: $nav-link-text;
        background-color: transparent !important;
    }
}

.navbar-nav>li>.dropdown-menu {
    background: $header-hover-bg;
    border: none;
    box-shadow: none;
}

#navbar-main-section ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    width: calc(100%-170px);
}
