#student-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.story-thumbnail {
    width: 95%;
}

.story-thumbnail-box {
    height: 100px; 
    overflow: hidden;
    cursor: pointer; 
}

.slick-prev, .slick-next {
    &:before {
        color: black;
    }
}

.student-story {
    display: none; 
}

.story-img {
    position: relative;
    top: 300px;
}

.stories-jumbo {
    margin: 0;
    padding-bottom: 0;
}

.shaded-story-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $text-overlay-bg;
    color: white;
    z-index: 100;
    font-size: 18px;
    margin-top: 100px;
}
