@import "base/breakpoints";
@import "base/mixins";
@import "base/variables";

@import "admin";
@import "login";
@import "header";
@import "home";
@import "stories";

.center-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
